.DS_Store
ToDoServer/config/localdev-config.json
ToDoServer/.build/*
ToDoServer/.build-ubuntu/*
ToDoServer/ToDoServer.xcodeproj/*
KituraiOS/iOSKituraKitSample.xcodeproj/xcuserdata/*
KituraiOS/iOSKituraKitSample.xcodeproj/project.xcworkspace/xcuserdata/*
KituraiOS/Pods/Pods.xcodeproj/xcuserdata/andrewlees.xcuserdatad/*
KituraiOS/iOSKituraKitSample.xcworkspace/xcuserdata/andrewlees.xcuserdatad/*