.build/*
/ToDoServer/.build/*
ToDoServer/ToDoServer.xcodeproj/*
.../UserInterfaceState.xcuserstate
.build-ubuntu/*
*.xcodeproj/*
Package.resolved
xcuserdata
.DS_Store
/Packages
/config.json
/spec.json
./config/localdev-config.json
